name: Test Google OAuth

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test-google-oauth:
    runs-on: ubuntu-latest
    env:
      ##########################################################################
      # App Config
      ##########################################################################
      NEXT_PUBLIC_URL: "http://localhost:3000"
      DATABASE_URI: "file:./payload-oauth2.db"
      PAYLOAD_SECRET: "hellohereisasecretforyou"

      ##########################################################################
      # Google OAuth Config
      ##########################################################################
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

      ##########################################################################
      # Test Config
      ##########################################################################
      # Optional: Set to "true" to run test browser in headless mode
      HEADLESS: true

      ##########################################################################
      # Google Test Account
      ##########################################################################
      # Required: Google Test Account Email
      GOOGLE_TEST_EMAIL: ${{ secrets.GOOGLE_TEST_EMAIL }}

      # Required: Google Test Account Password
      GOOGLE_TEST_PASSWORD: ${{ secrets.GOOGLE_TEST_PASSWORD }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
      - run: |
          pnpx puppeteer browsers install chrome
      - run: pnpm install
      - run: pnpm test
